---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar and site.author.dblp %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a> and <a href="{{site.author.dblp}}">DBLP</a>.</div>
{% elsif site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% elsif site.author.dblp %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.dblp}}">DBLP</a>.</div>
{% endif %}
<hr>

{% include base_path %}

{% for post in site.publications reversed %}
  <b>{{ post.title }}</b><br>
  {{post.authors}}<br>
  <i>
  {% if post.journal %}
  {% if post.draft == true %}
    Unpublished draft
  {% elsif post.submission == true %}
    Under submission ({{ post.journal}} {{ post.year }})
  {% elsif post.toappear == true %}
    To appear in {{ post.journal}} ({{ post.year }})
  {% else %}
    {{ post.journal}}: {{ post.pages }} ({{ post.year }})
  {% endif %}
  {% else %}
  {% if post.draft == true %}
    Unpublished draft
  {% elsif post.submission == true %}
    Under submission ({{ post.venue }} {{ post.year }})
  {% elsif post.toappear == true %}
    To appear in {{ post.venue }} {{ post.year }}
  {% else %}
    {{ post.venue }} {{ post.year }}: {{ post.pages }}
  {% endif %}
  {% endif %}
  </i>
  <br>
  <a href="{{ base_path }}{{ post.url }}" rel="permalink">[abstract]</a> <a href="{{ post.paperurl | relative_url }}">[pdf]</a><br><br>
{% endfor %}
