<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    {% seo %}

    <link rel="stylesheet" href="{{ "/assets/reveal.js/dist/reset.css" | prepend: site.baseurl }}"/>
    <link rel="stylesheet" href="{{ "/assets/reveal.js/dist/reveal.css" | prepend: site.baseurl }}"/>
    <link rel="stylesheet" href="{{ "/assets/reveal.js/dist/theme/custom.css" | prepend: site.baseurl }}"/>
    <!--link rel="stylesheet" href="{{ "/assets/reveal.js/plugin/highlight/monokai.css" | prepend: site.baseurl }}"/-->
    <link rel="stylesheet" href="/assets/css/highlight/atom-one-light.css">

  </head>
  <body>
    <div class="reveal">
      <div class="left slides">
        {{ content }}
      </div>
    </div>

    <script src="{{ "/assets/reveal.js/dist/reveal.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/reveal.js/plugin/notes/notes.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/reveal.js/plugin/markdown/markdown.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/reveal.js/plugin/highlight/highlight.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/reveal.js/plugin/math/math.js" | prepend: site.baseurl}}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/reveal.js-mermaid-plugin@2.3.0/plugin/mermaid/mermaid.js"></script>

    <script>
      // More info about initialization & config:
      // - https://revealjs.com/initialization/
      // - https://revealjs.com/config/
      Reveal.initialize({
        hash: true,
        transition: "slide",
        width: 1920,
        height: 1080,
        margin: 0.1,
        mermaid: {
        // flowchart: {
        //   curve: 'linear',
        // },
        },

        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [RevealMarkdown, RevealHighlight, RevealNotes,
                RevealMath.KaTeX, RevealMermaid],
        markdown: {
		      smartypants: true
	      }
      });
    </script>
  </body>
</html>

